# Renomear este arquivo para .env e adicionar as chaves de API para extração de dados com IA.

CLAUDE_API_KEY=your-api-key-here

# AI Model ID to use 
CLAUDE_API_ID=claude-sonnet-4-5-20250929

CLAUDE_API_ALIAS=claude-sonnet-4-5
